<h1>Login</h1>

<section class="user-login">
  <%= form_for :session, url: login_path do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, class: "block col-12 field" %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, class: "block col-12 field" %>
    </div>
    <%= f.submit 'Log In', class: "mt2 btn btn-primary mb1 bg-teal" %>
  <% end %>
</section>

<%= button_to 'Signup', signup_path, method: :get %>
