<div class="row justify-content-center" style="margin-top:30px;">
  <div class="col-sm-5">
    <div class="card text-center" style="width: 20rem;">
      <div class="card-header" >
        Login or Sign Up
      </div>
      <div class="card-body">
        <p class="card-text">
          <section class="user-login">
            <%= form_for :session, url: logged_in_path, class: "form-inline" do |f| %>
                <%= f.label :email, class: "text-center" %>
                <%= f.email_field :email, class: 'form-control' %>
                <br>
                <%= f.label :password, class: "text-center" %>
                <%= f.password_field :password, class: 'form-control'  %>
                <br>
                <%= f.submit 'Log In', class: "btn" %>
            <% end %>
            <%= button_to 'Sign Up', new_email_path, class: "btn", method: :get %>
          </section>
      </div>
      <div class="card-footer text-muted" s>
        <p>Sign in With:</p>
        <%= button_to 'Facebook', '/auth/facebook', class: "btn" %>
        <%= button_to 'Google', '/auth/google_oauth2', class: "btn" %>
      </div>
    </div>
  </div>
</div>
