<h3><%= facade.result_count %></h3>

<% facade.results.each do |result| %>
  <section id="item-<%= result.id %>">
    <%= image_tag(result.image) %> <br>
    <%= result.name %>
    <p>Price: <%= number_to_currency(result.price) %></p>
    <p>Available at: <%= link_to result.restaurant.name, restaurant_path(result.restaurant) %></p>
  </section>
<% end %>
