<%= form_for [:default, @item, Review.new] do |f| %>
  <div >
    <%= f.label :title %>
    <%= f.text_field :title, class: "block col-12 field" %>
  </div>

  <div >
    <%= f.label :body %>
    <%= f.text_field :body, class: "block col-12 field" %>
  </div>

  <div>
    <%= f.label :rating %>
    <%= f.text_field :rating, class: "block col-12 field" %>
  </div>

  <%= f.submit 'Submit', class: "mt2 btn btn-primary mb1 bg-teal" %>
<% end %>
