<section class='col-sm-5'>
  <h1>Review for <%= @item.name %></h1>

  <%= form_for [:default, @item, Review.new] do |f| %>
    <section>
      <%= f.label :title %>
      <%= f.text_field :title, size: '40%', style: "margin: 5px 1px" %>
    </section>

    <section>
      <%= f.label :body %>
      <%= f.text_area :body, size: '39%', style: "margin: 0px 0px" %>
    </section>

    <section>
      <%= f.label :rating %>
      <%= f.collection_select :rating, (1..5), :to_s, :to_s, include_blank: true %>
    </section>

    <section class='center' style="margin: 5px 0px">
      <%= f.submit 'Submit', class: "btn" %>
    </section>
  <% end %>
</section>
