<div class="row justify-content-center" style="margin-top:30px;">
  <div class="card text-center" style="width: 30rem;">
    <div class="card-header">
      <h3>Review for <%= @item.name %></h3>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= form_for [:default, @item, Review.new] do |f| %>
          <%= f.label :title, class: "text-center" %>
          <%= f.text_field :title, class: 'form-control' %>
          <br>
          <%= f.label :body, class: "text-center" %>
          <%= f.text_area :body, class: 'form-control' %>
          <br>
          <%= f.label :rating, class: "text-center" %>
          <select class="form-control form-control-lg"<%= f.collection_select :rating, (1..5), :to_s, :to_s, include_blank: true %>
          <br>
          <%= f.submit 'Submit', class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
