<div class='col-sm-5'>
  <h1>Review for <%= @item.name %></h1>

  <%= form_for [:default, @item, Review.new] do |f| %>
    <section>
      <%= f.label :title, style: "margin: 5px 3px" %>
      <%= f.text_field :title, size: '41%', style: "margin: 10px 10px" %>
    </section>

    <section>
      <%= f.label :body, style: 'float: top' %>
      <%= f.text_area :body, size: '40%', style: "margin: 0px 10px" %>
    </section>

    <section>
      <%= f.label :rating %>
      <%= f.collection_select :rating, (1..5), :to_s, :to_s, include_blank: true %>
    </section>

    <section class='center'>
      <%= f.submit 'Submit', class: "btn" %>
    </section>
  <% end %>
</div>
