<%= javascript_include_tag "welcome" %>
<script>
  var markers = [];
  var lat = <%= @coordinates[0] %>;
  var lng = <%= @coordinates[1] %>;
  <% @restaurants.each do |restaurant| %>
    var restaurant = ['<%= restaurant.name %>', <%= restaurant.latitude %>, <%= restaurant.longitude %>, '<%= restaurant.address_1 %>, <%= restaurant.city %>, <%= restaurant.state %> <%= restaurant.zip_code %>']
    markers.push(restaurant)
  <% end %>
  document.addEventListener("DOMContentLoaded", function(){
      initMap()
  });
</script>

<div id="map">

</div>

<section id="nearby">
  <h2>Nearby Restaurants</h2>
  <ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %></li>
  <% end %>
</ul>
</section>
