<%= javascript_include_tag "restaurants" %>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMap('<%= @restaurant.name %>', <%=@restaurant.latitude%>, <%=@restaurant.longitude%>, '<%= @restaurant.address_1 %>', '<%= @restaurant.city %>', '<%= @restaurant.state %>', '<%= @restaurant.zip_code %>')
  });
  var address = '<%= @restaurant.address %>';
  document.addEventListener("DOMContentLoaded", function(){
    popout()
  });
</script>

<p id="notice"><%= notice %></p>

<h1><%= @restaurant.name %></h1>

<div id="map">

</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>

<section class='items'>
  <h2>Dishes</h2>

  <% @restaurant.items.each do |item| %>
    <section class='item' id='<%= item.name %>'>
      <p><%= link_to item.name, item_path(item) %></p>

      <div class="card-img-top" style="float:inherit;">
        <a href="#" class="pop">
          <%= image_tag(item.image, style: "height:240px;") %>
        </a>
      </div>

      <p>Average Rating: <%= item.average_rating.round(1) %></p>
      <% if current_user&.default? && current_user.registered == 'true' && current_user.reviewable?(item.id) %>
        <%= link_to "Write a Review", new_default_item_review_path(item) %>
      <% end %>
    </section>
  <% end %>

</section>
<% if current_user&.default? && current_user.registered == 'true' %>
  <%= link_to "Review a New Item", new_default_restaurant_item_path(@restaurant) %>
<% end %>
