<%= javascript_include_tag "restaurants" %>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMap('<%= @restaurant.name %>', <%=@restaurant.latitude%>, <%=@restaurant.longitude%>, '<%= @restaurant.address_1 %>', '<%= @restaurant.city %>', '<%= @restaurant.state %>', '<%= @restaurant.zip_code %>')
  });
  var address = '<%= @restaurant.address %>';
  document.addEventListener("DOMContentLoaded", function(){
    popout()
  });
</script>

<p id="notice"><%= notice %></p>

<div class='rest_main'>
  <div class='info-card'>
    <div class="card text-center" style="width: 25rem; height: 25rem; margin: 30px;">
      <div class="card-header" style="height: 6rem">
        <h1><%= @restaurant.name %></h1>
      </div>
      <div class="card-body">
        <p class="card-text">Yelp Rating: <%= @restaurant.rating %></p>
        <p class="card-text"><%= @restaurant.address_1 %> <%= @restaurant.address_2  %></p>
        <p class="card-text"><%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip_code %></p>
        <p class="card-text">Phone: <%= @restaurant.phone %></p>
        <%= link_to '<button type="button", class="btn">Get Directions</button>'.html_safe, "https://www.google.com/maps/dir/?api=1&destination=#{@restaurant.encoded_address}" %>
      </div>
    </div>
  </div>

  <div class="fluid-column">
    <div id="map" style="display:inline-block; box-shadow: 0px 0px 2px 0px grey;"></div>
  </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>

<section class='items' style="display: inline-block">
  <div class="row justify-content-center">
    <% if current_user&.default? && current_user.registered == 'true' %>
      <%= button_to "Review a New Item", new_default_restaurant_item_path(@restaurant), method: :get, class: "btn btn-review" %>
    <% end %>
  </div>
  <div class="row justify-content-center" style="margin-top:30px 30px 10px 10px;">
    <div class="card-deck">
      <% @restaurant.items.each do |item| %>
        <% if item.status == 'verified' %>
          <section class='item' id='<%= item.name %>'>
            <div class="card" style="align:center;">

              <div class="card-img-top" style="float:inherit;">
                <a href="#" class="pop">
                  <%= image_tag(item.image, style: "height:240px;") %>
                </a>
              </div>

              <div class="card-body" style="text-align:center;">
                <h5 class="card-title"><%= link_to item.name, item_path(item) %></h5>
                <p class="card-text">Price: <%= number_to_currency(item.price) %></p>
                <p class="card-text">Average Rating: <%= item.average_rating.round(1) %></p>
                <% if current_user&.default? && current_user.registered == 'true' && current_user.reviewable?(item.id) %>
                  <p class="card-text"><%= link_to "Write a Review", new_default_item_review_path(item) %></p>
                <% end %>
              </div>
            </div>
          </section>
        <% end %>
      <% end %>
    </div>
  </div
</section>
