<div class="row justify-content-center" style="margin-top:30px;margin-left:30px;">
  <div class="card text-center">
    <div class="card-header">
      <h3><%= @item.name %></h3>
    </div>
    <div class="card-body">
      <div class="card-img-top" style="float:inherit;>
        <%= link_to image_tag(@item.image, style: "height:500px;"), @item.image  %>
      </div>
      <div class="card-body" style="text-align:center;">
        <p class="card-text">Price: <%= number_to_currency(@item.price) %></p>
        <p class="card-text">Category: <%= @item.category %></p>
        <p class="card-text">Average Rating: <%= @item.average_rating.round(1) %></p>
        <% if current_user&.default? && current_user.registered == 'true' && current_user.reviewable?(@item.id) %>
          <p class="card-text"><%= link_to "Write a Review", new_default_item_review_path(@item) %></p>
        <% end %>
      </div>
    </div>
    <div class="card-footer" style="text-align:center;">
      <p class="card-text">Available at: <%= link_to @item.restaurant.name, restaurant_path(@item.restaurant) %></p>
    </div>
  </div>
</div>

<div class="row justify-content-center" style="margin-top:30px;margin-left:30px;">
  <br>
  <div class="card-deck">
    <% @item.reviews.each do |review| %>
      <section id="review-<%= review.id %>">
          <div class="card">

            <div class="card-body" style="text-align:center;">
              <h5 class="card-title"><%= review.title %></h5>
              <p><% review.rating.round.times do %>
                <%= image_tag("ramen-bowl.png", style: 'height:25px ;width:auto;') %>
              <% end %>
              <%= "(#{review.rating.round})" %></p>

              <p class="card-text"><%= review.body %></p>
            </div>

          </div>
          <br>
      </section>
    <% end %>
  </div>
</div>
