<div class="row justify-content-center" style="margin-top:30px;">
  <div class="card text-center" style="width: 30rem;">
    <div class="card-header">
      <h3>Review a New Item</h3>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= form_for [:default, @restaurant, @item] do |f| %>
            <%= f.label :name, class: "text-center" %>
            <%= f.text_field :name, class: 'form-control'%>
            <br>
            <%= f.label :price, class: "text-center" %>
            <%= f.number_field :price, class: 'form-control' %>
            <br>
            <%= f.label :category, class: "text-center" %>
            <select class="form-control form-control-lg"<%= f.select :category, options_for_select([
              ["Ramen", "ramen"],
              ["Stir-Fried", "stir_fried"],
              ["Pho", "pho"],
              ["Chinese", "chinese"]
              ]), class: 'form-control', include_blank: true %>
            <br>
            <%= f.label :image, class: "text-center" %>
            <%= f.text_field :image, class: 'form-control'%>
            <br>
        <%= f.fields_for :review do |g| %>
            <%= g.label :title, class: "text-center" %>
            <%= g.text_field :title, class: 'form-control' %>
            <br>
            <%= g.label :body, class: "text-center" %>
            <%= g.text_area :body, class: 'form-control' %>
            <br>
            <%= g.label :rating, class: "text-center" %>
            <select class="form-control form-control-lg"<%= g.collection_select :rating, (1..5), :to_s, :to_s, include_blank: true %>
        <% end %>
            <br>
            <%= f.submit 'Submit', class: "btn" %>
        <% end %>
    </div>
  </div>
</div>
