<section class='col-sm-5'>
  <h1>Review a New Item</h1>

  <%= form_for [:default, @restaurant, @item] do |f| %>

    <section>
      <%= f.label :name %>
      <%= f.text_field :name, size: '40%', style: "margin: 5px 1px" %>
    </section>

    <section>
      <%= f.label :price %>
      <%= f.number_field :price, style: "margin: 5px 1px" %>
    </section>

    <section>
      <%= f.label :category %>
      <%= f.text_field :category, size: '40%', style: "margin: 5px 1px" %>
    </section>

    <section>
      <%= f.label :image %>
      <%= f.text_field :image, size: '40%', style: "margin: 5px 1px" %>
    </section>

    <%= f.fields_for :review do |g| %>
      <section>
        <%= g.label :title %>
        <%= g.text_field :title, size: '40%', style: "margin: 5px 1px" %>
      </section>

      <section>
        <%= g.label :body, style: 'float: top' %>
        <%= g.text_area :body, size: '39%', style: "margin: 0px 0px" %>
      </section>

      <section>
        <%= g.label :rating %>
        <%= g.collection_select :rating, (1..5), :to_s, :to_s, include_blank: true %>
      </section>
    <% end %>

    <section class='center' style="margin: 5px 0px">
      <%= f.submit 'Submit', class: "btn" %>
    </section>
  <% end %>
</section>
