<div class="row justify-content-center" style="margin-top:30px;">
  <div class="col-sm-5">
    <div class="card text-center" style="width: 20rem;">
      <div class="card-header">
        <h3>Register</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= form_for @email do |f| %>
            <%= f.label :email,class: "text-center" %>
            <%= f.email_field :email, class: 'form-control' %>
            <br>
            <%= f.label :password,class: "text-center" %>
            <%= f.password_field :password, class: 'form-control' %>
            <br>
            <%= f.label :password_confirmation, class: "text-center" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            <br>
            <%= f.submit 'Create Account', class: "btn" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
