<div class="user-login">
  <main>
<h1>Register</h1>
  <section>
    <%= form_for @email do |f| %>
      <div >
        <%= f.label :email %>
        <%= f.email_field :email, class: "block col-12 field" %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password, class: "block col-12 field" %>
      </div>
      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "block col-12 field" %>
      </div>
      <%= f.submit 'Create Account', class: "mt2 btn btn-primary mb1 bg-teal" %>
    <% end %>
  </section>
  </main>
</div>
