<!DOCTYPE html>
<html>
  <head>
    <title>Noodz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key="+ENV['GOOGLE_MAPS_API_KEY']+"&callback=initMap" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>

    <style>
      a.nav-link {
        font-size:15px;
        font-weight: bold;
      }
      body {
        background-color: #e6e6e6;
      }
      img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 2px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
      }

      img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }

      .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
      }

      .btn {
        display: inline;
        color: white;
        background-color:#5900ff;
        margin: 5px;
      }


    </style>
  </head>

  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color:#5900ff;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= render '/layouts/nav_left' %>
        <%= render '/layouts/nav_right' %>
      </div>
    </nav>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>

    <%= yield %>
  </body>
</html>
